.Ex{
    margin: 0 auto;
    height: 300px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}
h1{
    text-align: center;
    text-decoration: underline;
}


/* Ex. 1 */
p{
    display: inline;
    border: 1px solid red;
    margin-bottom: 5px;
}

/* Ex. 2 */
a{
    display: block;
    border: 1px solid red;
    margin-bottom: 5px;
}