<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Порядок flex блоков</title>
    <link rel="stylesheet" href="./task108.css">
</head>
<body>
    <!-- Ex. 1 -->
    <div class="Ex">
        <h1>Ex. 1</h1> 
        <div class="menu1"></div>
            <a href="#" class=child1>home</a>
            <a href="#" class="child1 active12">blog</a>
            <a href="#" class=child1>photos</a>
            <a href="#" class=child1>about us</a>
            <a href="#" class=child1>contacts</a>
        </div>
    </div>

    <!-- Ex. 2 -->
    <div class="Ex">
        <h1>Ex. 2</h1>
        <div class="menu2">
            <div class=child2>home</div>
            <div class="child2  active12">blog</div>
            <div class=child2>photos</div>
            <div class=child2>about us</div>
            <div class=child2>contacts</div>
        </div>
    </div>

    <!-- Ex. 3 -->
    <div class="Ex">
        <h1>Ex. 3</h1>
        <div class="menu3">
            <div class=child3>home</div>
            <div class="child3 active3">blog</div>
            <div class=child3>photos</div>
            <div class=child3>about us</div>
            <div class=child3>contacts</div>
        </div>
    </div>
</body>
</html>