<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Простые одноколоночные макеты сайтов</title>
   <link rel="stylesheet" href="./task109.css">
</head>

<body>

   <!-- Ex. 1  -->
   <div class="wrapper1">
      <nav class="menu1">
         <ul class="menu__item1">
            <li class="item__list1">
               <a href="#" class="item__link1">home</a>
            </li>
            <li class="item__list1 active1">
               <a href="#" class="item__link1 ">blog</a>
            </li>
            <li class="item__list1">
               <a href="#" class="item__link1">photos</a>
            </li>
            <li class="item__list1">
               <a href="#" class="item__link1">about us</a>
            </li>
            <li class="item__list1">
               <a href="#" class="item__link1">contacts</a>
            </li>
         </ul>
      </nav>
      <h1 class="title1">Proin tristique lorem</h1>
      <p class="sub-title1">
         Lorem ipsum dolor <a href="#" class="sub-title1__link">sit amet</a>, consectetur adipiscing elit. Nulla
         pharetra risus erat, eu imperdiet felis suscipit at. Vivamus rhoncus vel neque non eleifend. Donec adipiscing
         eros quis molestie sodales. Proin vitae nulla ut sem lobortis scelerisque. Aliquam ultricies porta sem quis
         fringilla. Quisque pretium enim ut elit fringilla, in adipiscing ligula placerat. Integer id tortor tristique,
         facilisis lorem sit amet, porta ante. Nulla eget diam in erat hendrerit gravida.
      </p>
      <p class="sub-title1">
         Cras ut nunc metus. Nullam id faucibus ante. <a href="#" class="sub-title1__link">Proin tristique lorem</a>
         tristique dolor porttitor, eget adipiscing leo gravida. Proin erat erat, laoreet sit amet tincidunt ac, iaculis
         nec libero. In placerat odio ac dapibus faucibus. Praesent ut est in ligula facilisis congue eget ac ante.
         Phasellus at felis vitae est molestie ultricies.
      </p>
   </div>

   <br><br><br><br>

    <!-- Ex. 2  -->
   <div class="wrapper2">
      <nav class="menu2">
         <ul class="menu__item2">
            <li class="item__list2">
               <a href="#" class="item__link2">home</a>
            </li>
            <li class="item__list2 active2">
               <a href="#" class="item__link2 ">blog</a>
            </li>
            <li class="item__list2">
               <a href="#" class="item__link2">photos</a>
            </li>
            <li class="item__list2">
               <a href="#" class="item__link2">about us</a>
            </li>
            <li class="item__list2">
               <a href="#" class="item__link2">contacts</a>
            </li>
         </ul>
      </nav>
      <h2 class="title2">Proin tristique lorem</h2>
      <p class="sub-title2">
         Lorem ipsum dolor <a href="#" class="sub-title2__link">sit amet</a>, consectetur adipiscing elit. Nulla
         pharetra risus erat, eu imperdiet felis suscipit at. Vivamus rhoncus vel neque non eleifend. Donec adipiscing
         eros quis molestie sodales. Proin vitae nulla ut sem lobortis scelerisque. Aliquam ultricies porta sem quis
         fringilla. Quisque pretium enim ut elit fringilla, in adipiscing ligula placerat. Integer id tortor tristique,
         facilisis lorem sit amet, porta ante. Nulla eget diam in erat hendrerit gravida.
      </p>
      <p class="sub-title2">
         Cras ut nunc metus. Nullam id faucibus ante. <a href="#" class="sub-title2__link">Proin tristique lorem</a>
         tristique dolor porttitor, eget adipiscing leo gravida. Proin erat erat, laoreet sit amet tincidunt ac, iaculis
         nec libero. In placerat odio ac dapibus faucibus. Praesent ut est in ligula facilisis congue eget ac ante.
         Phasellus at felis vitae est molestie ultricies.
      </p>
      <h2 class="title2">Proin tristique lorem</h2>
      <p class="sub-title2">
         Lorem ipsum dolor <a href="#" class="sub-title2__link">sit amet</a>, consectetur adipiscing elit. Nulla
         pharetra risus erat, eu imperdiet felis suscipit at. Vivamus rhoncus vel neque non eleifend. Donec adipiscing
         eros quis molestie sodales. Proin vitae nulla ut sem lobortis scelerisque. Aliquam ultricies porta sem quis
         fringilla. Quisque pretium enim ut elit fringilla, in adipiscing ligula placerat. Integer id tortor tristique,
         facilisis lorem sit amet, porta ante. Nulla eget diam in erat hendrerit gravida.
      </p>
      <p class="sub-title2">
         Cras ut nunc metus. Nullam id faucibus ante. <a href="#" class="sub-title2__link">Proin tristique lorem</a>
         tristique dolor porttitor, eget adipiscing leo gravida. Proin erat erat, laoreet sit amet tincidunt ac, iaculis
         nec libero. In placerat odio ac dapibus faucibus. Praesent ut est in ligula facilisis congue eget ac ante.
         Phasellus at felis vitae est molestie ultricies.
      </p>
   </div>
   <footer>
      <nav>
         <ul class="menu__footer">
            <li class="menu-footer__list">
               <a href="#">Scelerisque</a>
            </li>
            <li class="menu-footer__list">
               <a href="#">Rhoncus</a>
            </li>
            <li class="menu-footer__list">
               <a href="#">Proin</a>
            </li>
            <li class="menu-footer__list">
               <a href="#">Tristique</a>
            </li>
            <li class="menu-footer__list">
               <a href="#">Faucibus</a>
            </li>
         </ul>
      </nav>
   </footer>
   
   <br><br><br><br>

   <!-- Ex. 3  -->
   <div class="wrapper3">
      <h3 class="title3">Vestibulum ante ipsum</h3>
      <div class="card">
         <div class="card__content">
            <h2 class="title__card"><a href="#">News</a></h2>
            <p class="sub-title3">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ultrices dictum. Nullam non
               diam vestibulum, interdum nibh quis, sollicitudin sem. Vivamus sit amet sagittis massa. Cras aliquet
               lacus at interdum blandit. Quisque quis tellus nunc. Cras at nisi laoreet, suscipit nibh quis,
               pellentesque diam.
            </p>
            <p class="sub-title3">
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam a
               bibendum orci. Sed fermentum consequat mauris adipiscing condimentum. Phasellus id convallis nunc. Nullam
               vel mollis purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
               Cras nec neque vel risus accumsan sollicitudin quis ut velit. Fusce et libero hendrerit, accumsan enim
               non, dictum eros. Proin sem justo, porta id magna quis, consequat scelerisque urna.
            </p>
            <div class="more">
               <a href="#">more...</a>
            </div>

         </div>
      </div>

      <div class="card">
         <div class="card__content">
            <h2 class="title__card"><a href="#">About company</a></h2>
            <p class="sub-title3">
               Sed non ante vitae nunc lacinia tristique nec quis nisl. Integer a fringilla elit, vitae accumsan massa.
               Fusce ac tempor est. In ultricies mi sit amet nunc posuere eleifend. Cras vulputate hendrerit sodales.
               Mauris lectus magna, feugiat vitae sagittis id, suscipit ac dui. Sed a orci a ipsum iaculis gravida.
               Integer nec fringilla turpis. Sed dapibus turpis rutrum lacus mattis egestas. Aliquam viverra libero
               vitae mi pellentesque lobortis. Donec varius elit in aliquam consectetur.
            </p>
            <p class="sub-title3">
               Sed fermentum consequat mauris adipiscing condimentum. Phasellus id convallis nunc. Nullam vel mollis
               purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras nec
               neque vel risus accumsan sollicitudin quis ut velit. Fusce et libero hendrerit, accumsan enim non, dictum
               eros. Proin sem justo, porta id magna quis, consequat scelerisque urna.
            </p>
            <div class="more">
               <a href="#">more...</a>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card__content">
            <h2 class="title__card"><a href="#">Interesting</a></h2>
            <p class="sub-title3">
               Mauris et metus vitae lectus interdum auctor non sit amet odio. Morbi laoreet feugiat dapibus. Nulla
               ultricies sollicitudin est id blandit. Fusce justo nisl, tristique id fringilla ut, consectetur eu purus.
               Curabitur facilisis ipsum augue, vel varius turpis malesuada eget. Pellentesque et ante vestibulum,
               semper lorem quis, bibendum urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
               ridiculus mus. Aenean hendrerit tortor a cursus fermentum. Nunc suscipit sem laoreet interdum
               ullamcorper. Fusce volutpat orci ut ante aliquam, vitae cursus nulla dignissim. Fusce dignissim suscipit
               suscipit.
            </p>
            <p class="sub-title3">
               Etiam a bibendum orci. Sed fermentum consequat mauris adipiscing condimentum. Phasellus id convallis
               nunc. Nullam vel mollis purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
               cubilia Curae; Cras nec neque vel risus accumsan sollicitudin quis ut velit. Fusce et libero hendrerit,
               accumsan enim non, dictum eros. Proin sem justo, porta id magna quis, consequat scelerisque urna.
            </p>
            <div class="more">
               <a href="#">more...</a>
            </div>
         </div>
      </div>
   </div>

</body>

</html>