.Ex{
    margin: 0 auto;
    height: 240px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219);
}
h1{
    text-align: center;
    text-decoration: underline;
}
ol{
    margin-left: 50px;
}


/* Ex. 1 */
.ex1{
    font-size: 19px;
    list-style-type: lower-latin;
}

/* Ex. 2 */
.ex2{
    font-size: 19px;
    list-style-type: lower-greek;
}

/* Ex. 3 */
.ex3{
    font-size: 19px;
    list-style-type: upper-latin;
}