.Ex{
    margin: 0 auto;
    height: 240px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219);
}
h1{
    text-align: center;
    text-decoration: underline;
}


/* Ex. 1 */
.ex1{
    margin: 20px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    border-radius: 50%;
}