.Ex{
    margin: 0 auto;
    height: 480px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}
h1{
    text-align: center;
    text-decoration: underline;
}


/* Ex. 1 */
#elem1 {
    margin-left: 40px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem2 {
    position: relative;
    bottom: 40px;
    left: 85px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem3 {
    position: relative;
    bottom: 80px;
    left: 165px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}