.Ex{
    margin: 0 auto;
    height: 530px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
    font-size: 18px;
    text-align: justify;
}
h1{
    text-align: center;
    text-decoration: underline;
}


/* Ex.  1 */
.parent {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

.child {
    width: 100px;
    height: 70px;
    margin: 20px 20px 10px 20px;
    float: right;
    border: 2px solid green;
}